.App {
  text-align: center;
}

.App-reset {
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
}
.App-reset .wordlength {
  color: #333;
  display: block;
  background-color: #EFEFEF;
  width: 1.8em;
  padding: 0.2em 0 2em 0;
  border-radius: 0.5em;
  margin-right: 0.2em;
  text-decoration: none;
}
.App-reset a.wordlength:hover {
  background-color: #0F0;
}

.App-playground {
  font-size: 96px;
  line-height: 1.2em;
}
.App-playground .target {
  padding: 0.5em 0;
}

span.NONE { color: #C00; }
span.PENDING { color: black; }
span.MATCH { color: #0A0; }

.App-playground .current {
  word-wrap: break-word;
}

