.App {
  text-align: center;
}

.Selector {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
}
.Selector a {
  color: #333;
  display: block;
  width: 1.8em;
  padding: 1em 0 1em 0;
  margin-right: 0.2em;
  border-bottom: 4px solid #333;
  text-decoration: none;
}
.Selector a.active {
  background-color: #CFC;
}
.Selector a:hover {
  background-color: #0F0;
}
a.reset {
  font-size: 96px;
  line-height: 1em;
}

.Letters {
  font-size: 96px;
  line-height: 1.2em;
}
.Letters.target {
  padding: 0.5em 0;
}
.Letters.current {
  word-wrap: break-word;
}

.Letters .NONE { color: #C00; }
.Letters .PENDING { color: black; }
.Letters .MATCH { color: #0A0; }


